.container{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button{
    height: 50px;
    width: 150px;
}

.results {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    color: aqua;
    font-size: large;
}